// index
.indexBanner{
  background: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/exhibition-week6/ricardo-gomez-angel-UrOZTfXT0h0-unsplash%20(1).jpg') no-repeat;
  height: 480px;
  @include banner;
}

.recallBackground{
  background: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/exhibition-week6/people2.png') no-repeat;
  @include banner;
}

.subscribeBanner{
  background: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/exhibition-week6/wladislaw-peljuchno-Y_f1aHpR1tc-unsplash.jpg') no-repeat;
  height: 400px;
  @include banner;
}

// detail
.detailBanner{
  background: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/exhibition-week6/max-van-den-oetelaar-IMYe9uYN27E-unsplash.jpg') no-repeat;
  height: 400px;
  @include banner;
}