.offcanvas-endStyle{
  top: 74.77px;
  right: 0;
  width: 540px;
  transform: translateX(100%);
}

.offcanvasBtn{
  color: $primary;
  &:hover{
    background: $primary;
    color: $white;
  }
}

.scrollbar-primary::-webkit-scrollbar {
  width: 5px;
  background-color: $primary-light;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 4px;
}

.scrollbar-primary::-webkit-scrollbar-thumb{
  background-color: $white;
}
