<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet">
    <script src="https://kit.fontawesome.com/27bd1ef315.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <%- include('header.ejs') %>
    
    <%- contents %>

    <div class="container">
      <section class="mb-4 mb-md-10">
        <h2 data-aos="fade-up" class="h3 mb-6 fw-bold">猜你也喜歡...</h2>
        <div class="row justify-content-end">
          <div class="col-md-4 mb-4 mb-md-0">
            <div class="card border-0 guessLike">
              <img
                src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/exhibition-week6/ricardo-gomez-angel-WxpnuLzqZN4-unsplash.jpg"
                class="card-img-top mb-1" alt="like-img">
              <div class="card-body p-0">
                <h5 class="card-title mb-1 fs-7">No.22 線上設計展</h5>
                <p class="card-text mb-0 fs-7">$350</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4 mb-md-0">
            <div class="card border-0 guessLike">
              <img
                src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/exhibition-week6/petri-heiskanen-bR9gFJqAnzA-unsplash.jpg"
                class="card-img-top mb-1" alt="like-img">
              <div class="card-body p-0">
                <h5 class="card-title mb-1 fs-7">No.22 線上設計展</h5>
                <p class="card-text mb-0 fs-7">$350</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-3">
            <div class="card border-0 guessLike">
              <img
                src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/exhibition-week6/museums-victoria-kiDwVL_5ZBY-unsplash%20(1).jpg"
                class="card-img-top mb-1" alt="like-img">
              <div class="card-body p-0">
                <h5 class="card-title mb-1 fs-7">No.22 線上設計展</h5>
                <p class="card-text mb-0 fs-7">$350</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="subscribeBanner">
      <div class="container h-100">
        <div class="d-flex align-items-end text-white h-100">
          <div class="subscribe">
            <h2 data-aos="fade-up" class="mb-3 fs-3">想收到展覽的最新消息嗎？<br>快訂閱我們！</h2>
            <div data-aos="fade-up" class="subscribeForm input-group">
              <input type="text" class="form-control p-3" placeholder="輸入您的電子信箱">
              <button class="btn btn-primary-light py-3" type="button">訂閱</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer container">
      <div class="d-flex align-items-center">
        <div class="footerTitle d-md-flex align-items-center">
          <h2 class="fs-4 mb-0 me-4">EXHIBINECTION</h2>
          <p class="mb-0">© 2020. All Rights Reserved.</p>
        </div>
        <ul class="footerMenu list-unstyled d-none d-md-flex align-items-center ms-auto mb-0">
          <li><a href="#">Sign in</a></li>
          <li class="ms-6"><a href="#">Sign up</a></li>
        </ul>
      </div>
    </footer>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        offset: 100,
        duration: 800,
      });
    </script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>